[workspace]
resolver = "2"
members = [
    "freighter",
    "freighter-auth",
    "freighter-index",
    "freighter-server",
    "freighter-storage",
]

[workspace.dependencies]
freighter-auth = { path = "freighter-auth", registry = "nkcompute", version = "0.1.0-rc" }
freighter-index = { path = "freighter-index", registry = "nkcompute", version = "0.1.0-rc" }
freighter-server = { path = "freighter-server", registry = "nkcompute", version = "0.1.0-rc" }
freighter-storage = { path = "freighter-storage", registry = "nkcompute", version = "0.1.0-rc" }

anyhow = "1.0.14"
async-trait = "0.1.68"
axum = { version = "0.6.9", default-features = false }
axum-extra = "0.7.0"
aws-credential-types = "0.55.3"
aws-sdk-s3 = { version = "0.28.0", default-features = false }
bytes = "1.1.0"
clap = { version = "4.0", default-features = false }
deadpool-postgres = "0.10.5"
futures-util = { version = "0.3.16", default-features = false }
hyper = { version = "0.14", default-features = false }
metrics = "0.21.0"
metrics-exporter-prometheus = { version = "0.12.1", default-features = false }
postgres-types = "0.2.1"
rand = "0.8.4"
reqwest = { version = "0.11", default-features = false }
semver = "1.0.0"
serde = "1.0.139"
serde_json = "1.0.71"
serde_yaml = "0.9.0"
sha2 = "0.10.0"
thiserror = "1.0.2"
tokio = "1.23.1"
tokio-stream = { version = "0.1.9", default-features = false }
tower = { version = "0.4", default-features = false }
tower-http = "0.4.0"
tracing = "0.1.21"
tracing-subscriber = { version = "0.3.0", default-features = false }

[profile.release]
debug = true
